# Build files
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
*.vcxproj
*.sln
*.exe
# CUDA / binaries
*.o
*.obj
*.ptx
# Data files
*.gz
ca-*.txt
com-*.txt
roadNet-*.txt
# Python
__pycache__/
*.pyc